.breadcrumb {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  font-size: 12px;
}

.breadcrumb li {
  margin-right: 38px;
}

.breadcrumb li a {
  color: #717171;
}

.breadcrumb li a:hover {
  color: #000;
}

.breadcrumb li:last-child {
  margin-right: 0;
}

.breadcrumb li:last-child a {
  color: #02A0E4;
  text-decoration: underline;
}

@media only screen and (max-width: 525px) {
  .breadcrumb {
    display: none;
  }
}

.table {
  position: relative;
}

.table__sorting {
  position: relative;
  margin-bottom: 14px;
}

.table__sorting > .icon {
  margin-right: 20px;
  color: #02A0E4;
}

.table__sorting-item {
  font-weight: bold;
  font-size: 14px;
  margin-right: 30px;
  padding: 6px 0px;
}

.table__sorting-item:hover {
  color: #02A0E4;
}

.table__sorting-item:last-child {
  margin-right: 0;
}

.table__sorting-item .icon {
  width: 12px;
  height: 12px;
  margin-left: 6px;
}

.table__sorting-item--active {
  color: #02A0E4;
}

.table__inner {
  position: relative;
}

.table__thead {
  position: relative;
  background: #F4F4F4;
  height: 60px;
  padding: 0px 20px;
}

.table__thead-item {
  font-size: 15px;
  width: 100%;
}

.table__thead-item--width {
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.table__body-element {
  position: relative;
  height: 62px;
  background: #fff;
  border-top: solid 1px rgba(112, 112, 112, 0.07);
  -webkit-box-shadow: 0px 1px 22px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 1px 22px rgba(0, 0, 0, 0.06);
  padding: 0px 20px;
}

.table__body-item {
  width: 100%;
  position: relative;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

.table__price {
  font-size: 18px;
}

.table .btn {
  height: 38px;
  font-size: 12px;
  min-width: inherit;
  border: solid 1px #02A0E4;
}

.table .btn:hover {
  color: #02A0E4;
}

.table__scroll {
  position: relative;
}

.table__scroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: transparent;
  border-radius: 50px;
}

.table__scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 50px;
}

.table__values {
  position: relative;
  width: 100%;
  max-width: 144px;
}

.table__values b {
  font-size: 18px;
}

.table__values a {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  background: #02A0E4;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table__values a:hover {
  background: #007eb5;
}

.table.table--small .table__thead {
  height: 30px;
}

.table.table--small .table__thead-item {
  font-size: 11px;
}

.table.table--small .table__body-element, .table.table--small .table__body-item {
  height: 31px;
  font-size: 11px;
}

.checkboxes {
  position: relative;
}

.checkboxes__item {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkboxes__item:hover i {
  border-color: #000;
}

.checkboxes__item input {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: none;
  transition: none;
  visibility: hidden;
}

.checkboxes__item label {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  margin-left: -24px;
  padding-left: 25px;
  position: relative;
  z-index: 1;
}

.checkboxes__item i {
  width: 19px;
  height: 19px;
  border-radius: 4px;
  background: #fff;
  border: solid 1px #A5A5A5;
  margin-right: 5px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  position: relative;
}

.checkboxes__item input:checked + i {
  border-color: #02A0E4;
  background-color: #02A0E4;
}

.checkboxes__item input:checked + i::before {
  content: '';
  width: 5px;
  height: 8px;
  border-right: solid 2px;
  border-bottom: solid 2px;
  color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  left: 5px;
  top: 2px;
}

.checkboxes--two label {
  margin-right: -66px;
  padding-right: 70px;
  padding-left: 0;
}

.checkboxes--two .checkboxes__item i {
  width: 58px;
  height: 27px;
  border-radius: 50px;
  padding: 5px;
  margin-right: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: 8px;
}

.checkboxes--two .checkboxes__item i:before {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: #a5a5a5;
  border-radius: 50px;
  top: 3px;
  left: 4px;
}

.checkboxes--two .checkboxes__item input:checked + i:before {
  background: #fff;
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50px;
  top: 3px;
  left: 4px;
  border: 0;
  -webkit-transform: translateX(29px);
          transform: translateX(29px);
}

.category {
  position: relative;
}

.category__list {
  position: relative;
}

.category__item {
  width: calc(100% / 3 - 15px);
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 22px;
  height: 290px;
  margin-bottom: 22px;
}

.category__item:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.category__item:nth-child(3n+3) {
  margin-right: 0;
}

.category__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.category__item-media {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.category__item-media img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.category__item-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #02A0E4;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  padding: 13px 0px 17px 7px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1175px) {
  .category__item {
    width: calc(100% / 2 - 11px);
    margin-right: auto;
  }
  .category__item:nth-child(2n+2) {
    margin-right: 0 !important;
  }
  .category__item:nth-child(3n+3) {
    margin-right: auto;
  }
  .category__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .category__item:nth-last-child(-n+3) {
    margin-bottom: 22px;
  }
  .category__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 525px) {
  .category__item {
    width: 100%;
    margin: 0 !important;
    margin-bottom: 22px !important;
  }
  .category__item:last-child {
    margin-bottom: 0 !important;
  }
}

.product {
  position: relative;
  width: 100%;
}

.product__item {
  position: relative;
  margin-bottom: 45px;
}

.product__item:last-child {
  margin-bottom: 0;
}

.product__media {
  width: 50%;
  position: relative;
}

.product__media-slider-top {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 20px 0px;
  margin-bottom: 8px;
}

.product__media-slider-top img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  max-height: 440px;
}

.product__media-slider-top .slick-slide {
  margin: 0px 20px;
}

.product__media-slider-top .slick-slide > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__media-slider-bottom .slick-slide {
  margin: 0 4px;
  cursor: pointer;
  height: 144px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.product__media-slider-bottom .slick-slide:not(.slick-current):hover {
  opacity: .85;
}

.product__media-slider-bottom .slick-slide > div {
  width: 100%;
  height: 100%;
  position: relative;
}

.product__media-slider-bottom .slick-slide > div:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: solid 4px #02A0E4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  border-radius: 2px;
}

.product__media-slider-bottom .slick-current > div:before {
  opacity: 1;
}

.product__media-slider-bottom img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.product__info-inner {
  position: relative;
  padding-left: 55px;
}

.product__info-inner h5 {
  margin-bottom: 24px;
}

.product__info-inner p {
  font-size: 14px;
  line-height: 22px;
}

.product__info-inner .btn {
  border: solid 2px #02A0E4;
}

.product__info-inner .btn:hover {
  color: #02A0E4;
}

.product__text-item {
  position: relative;
  margin-bottom: 30px;
}

.product__characteristics {
  font-size: 14px;
  line-height: 22px;
}

.product__characteristics b {
  margin-bottom: 8px;
}

.product__characteristics li {
  margin-bottom: 14px;
}

.product__characteristics li:last-child {
  margin-bottom: 0;
}

.product .tabs {
  margin-bottom: 30px;
}

.product .tabs__tab {
  width: calc(100% / 4 - 5px);
}

.product__info-block {
  background: #fff;
  -webkit-box-shadow: 0px 1px 22px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 1px 22px rgba(0, 0, 0, 0.06);
  position: relative;
  padding: 23px 33px;
  border-radius: 4px;
}

.product__info-block h5 {
  font-size: 18px;
  margin-bottom: 15px;
}

.product__info-block-item--width {
  position: relative;
  width: 48%;
}

.product__info-block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__passport {
  position: relative;
}

.product__passport input, .product__passport textarea {
  -webkit-box-shadow: 0px 1px 22px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 22px rgba(0, 0, 0, 0.1);
}

.product__passport .question__right-item {
  padding-right: 10px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.product__passport .question__right-item p {
  font-size: 11px;
  line-height: 14px;
}

.product__passport .question__right-item p a {
  color: #02A0E4;
  text-decoration: underline;
}

.product__passport .question__right-item p a:hover {
  text-decoration: none;
}

.product__passport .question__right-item input, .product__passport .question__right-item textarea {
  margin-bottom: 10px;
}

.product__passport textarea {
  min-height: 150px;
}

.product__methods-pay, .product__methods-item {
  position: relative;
}

.product__methods-pay {
  margin-top: 30px;
  width: 100%;
}

.product__method-title {
  position: relative;
  font-size: 16px;
  margin-bottom: 25px;
}

.product__method-title i {
  width: 37px;
  height: 37px;
  border-radius: 50px;
  background: #A0DEF6;
  margin-right: 10px;
}

.product__method-title i .icon {
  width: 21px;
  height: 11px;
}

.product__methods-item {
  width: 48%;
}

.product__methods-item p {
  font-size: 14px;
  margin-bottom: 25px;
}

.product__methods-item ul {
  position: relative;
}

.product__methods-item ul li {
  font-size: 14px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #02A0E4;
  padding-left: 0 !important;
}

.product__methods-item ul li:before {
  content: none !important;
}

.product__methods-item ul li .icon {
  width: 14px;
  margin-right: 8px;
  height: 14px;
}

.product__info-block-item ul {
  position: relative;
}

.product__info-block-item ul li {
  font-size: 16px;
  padding-left: 26px;
  line-height: 22px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
}

.product__info-block-item ul li:before {
  content: '';
  position: absolute;
  left: 3px;
  top: 13px;
  width: 5px;
  height: 8px;
  border-right: solid 2px;
  border-bottom: solid 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  color: #02A0E4;
}

.product__info-block--delivery .product__info-block-item:nth-child(1) {
  width: 40%;
}

.product__info-block--delivery .product__info-block-item:nth-child(2) {
  width: 60%;
}

.product__other-products {
  position: relative;
  margin-top: 30px;
  width: 100%;
}

.product__other-products-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.product__other-products-slider .category__item {
  width: 272px;
  margin: 0 !important;
}

.product__other-products-slider .slick-slide {
  margin: 0 9px;
}

@media only screen and (max-width: 1180px) {
  .product__info-block--delivery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product__info-block--delivery .product__info-block-item {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .product__info-block--delivery .product__info-block-item:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1075px) {
  .product__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product__media {
    width: 100%;
    margin-bottom: 30px;
  }
  .product__info-inner {
    width: 100%;
    padding-left: 0;
  }
  .product__table .table__scroll {
    overflow: auto;
  }
  .product__table .table__inner {
    min-width: 1150px;
  }
}

@media only screen and (max-width: 725px) {
  .product .tabs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product .tabs .tabs__tab {
    width: calc(100% / 2 - 5px);
    margin-bottom: 10px;
  }
  .product__info-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product__info-block-item {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .product__info-block-item:last-child {
    margin-bottom: 0;
  }
  .product__table-delivery .table__inner {
    min-width: 760px;
  }
  .product__table-delivery .table__scroll {
    overflow: auto;
  }
}

@media only screen and (max-width: 475px) {
  .product__methods-pay {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product__methods-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .product__methods-item:last-child {
    margin-bottom: 0;
  }
}

.request {
  position: relative;
}

.request__list {
  position: relative;
}

.request__list-item {
  width: 100%;
  margin-bottom: 40px;
}

.request__list-item:last-child {
  margin-bottom: 0;
}

.request__list-item-category {
  font-size: 14px;
  margin-bottom: 20px;
}

.request__table-delete {
  color: #717171;
}

.request__table-delete .icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.request__item-delete-btn {
  width: 62px;
  height: 62px;
  border-radius: 4px;
  background: #02A0E4;
  color: #fff;
}

.request__item-delete-btn:hover {
  background: #007eb5;
}

.request__item-delete-btn .icon {
  width: 24px;
  height: 24px;
}

.request .table__body-element, .request .table__thead {
  padding-right: 0;
}

.request__list-item--background {
  padding: 22px 32px;
  border-radius: 4px;
  background: #F4F4F4;
}

.request__order {
  position: relative;
  width: 100%;
  padding-top: 10px;
}

.request__list-item h5 {
  margin-bottom: 10px;
}

.request__order-item {
  width: 48%;
  position: relative;
}

.request__order-item p {
  margin-bottom: 15px;
}

.request__order-item:nth-child(1):before {
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  width: 1px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 80%;
  background: rgba(112, 112, 112, 0.09);
}

.request__order-input {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.request__order-input input {
  width: 100%;
}

.request__order-input button {
  border: solid 1px #02A0E4;
  width: 100%;
}

.request__order-input button:hover {
  color: #02A0E4;
  background: transparent;
}

.request__order-input textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 85px;
  max-height: 150px;
  padding: 13px;
}

.request__order-input b {
  font-size: 14px;
}

.request__order-input:last-child {
  margin-bottom: 0;
}

.request .checkboxes__item {
  margin-right: 20px;
}

.request .checkboxes__item:last-child {
  margin-right: 0;
}

.request__order-input--checkbox {
  margin-bottom: 20px;
}

.request__file-upload {
  width: 100%;
  background: transparent;
  border: solid 1px #02A0E4;
  color: #02A0E4;
}

.request__file-upload:hover {
  background: #02A0E4;
  color: #fff;
}

.request__send {
  position: relative;
  width: 100%;
}

.request__send-inner {
  padding: 0px 90px;
  height: 260px;
  background: #02A0E4;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.request__send-inner h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: normal;
  color: #fff;
  line-height: 51px;
}

.request__send-inner p {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.request__send-inner:before {
  content: '';
  position: absolute;
  right: -3000px;
  top: 0;
  width: 3000px;
  background: #02A0E4;
  height: 100%;
}

.request__close {
  position: relative;
  color: #fff;
  margin-left: 80px;
}

.request__close .icon {
  width: 42px;
  height: 42px;
}

.request__order-input--checkbox, .request__request__order-input--select {
  height: 27px;
}

@media only screen and (max-width: 1175px) {
  .request__order-input--checkbox {
    height: 27px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
    height: auto;
  }
  .request__order-input--checkbox b {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 925px) {
  .request__order {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .request__order-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .request__order-item:nth-last-child(1) .checkboxes__item {
    margin: 12px 0px 23px 0px;
  }
  .request__order-item:last-child {
    margin-bottom: 0;
  }
  .request__send-inner:before {
    content: none !important;
  }
  .request__send-inner {
    height: auto;
  }
}

@media only screen and (max-width: 840px) {
  .request__table .table__inner {
    min-width: 860px;
  }
  .request__table .table__scroll {
    overflow: auto;
  }
  .request__send-inner {
    padding: 30px 40px;
  }
  .request__send-inner h1 {
    font-size: 32px;
  }
  .request__send-inner p {
    font-size: 14px;
  }
  .request__send-inner .icon {
    width: 32px;
    height: 32px;
  }
  .request__send-inner .request__close {
    margin: 0;
  }
}

@media only screen and (max-width: 425px) {
  .request .request__order-input {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .request .checkboxes__item label {
    height: auto;
  }
  .request .request__send-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .request .request__send-inner .request__close {
    padding: 20px 0px;
  }
  .request .checkboxes {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .request .checkboxes .checkboxes__item {
    margin-bottom: 12px;
  }
  .request .checkboxes .checkboxes__item:last-child {
    margin-bottom: 0;
  }
  .request .request__order-input--checkbox {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .request .checkboxes--two label {
    padding-left: 25px;
  }
  .request__order-item .request__order-input:nth-last-child(2) label {
    width: calc(100% - 30px);
  }
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 13px;
  line-height: 22px;
}

.side-container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.side-container__left {
  position: relative;
  width: 272px;
}

.side-container__right {
  position: relative;
  width: calc(100% - 272px);
  padding-left: 26px;
}

.side-container__links {
  position: relative;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  border: solid 1px #000;
}

.side-container__links li:not(.side-container__link--active) a:hover {
  color: #02A0E4;
}

.side-container__links li a {
  padding: 20px 15px;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  border-bottom: solid 1px #000;
}

.side-container__links li:last-child a {
  border: 0;
}

.side-container__link--active a {
  background: #02A0E4;
  border-color: #02A0E4 !important;
  color: #fff;
}

.side-container__link-more {
  padding: 15px 12px;
  font-size: 12px;
  font-weight: bold;
  color: #717171;
  display: none;
}

.side-container__link-more:hover {
  color: #000;
}

.tabs {
  position: relative;
  width: 100%;
}

.tabs li {
  position: relative;
  width: 100%;
}

.tabs li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 59px;
  border-radius: 4px;
  width: 100%;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  background: #F4F4F4;
}

.tabs li:not(.tabs__tab--active):hover a {
  color: #02A0E4;
}

.tabs__tab--active a {
  background: #02A0E4 !important;
  color: #fff;
}

@media only screen and (max-width: 895px) {
  .side-container__left {
    width: 100%;
    margin-bottom: 30px;
  }
  .side-container__right {
    width: 100%;
    padding-left: 0;
  }
}
