$blue: #02A0E4;
$hoverBlue: #007eb5;

@import 'elements/_breadcrumb';
@import 'elements/_table';
@import 'elements/_checkboxes';
@import 'elements/_pagination';
@import 'elements/_feedback';

@import 'pages/_category';
@import 'pages/_product';
@import 'pages/_request';
@import 'pages/_news';
@import 'pages/_typical';
@import 'pages/_activity';

h1 {
    font-size: 44px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 34px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 20px;
}

p {
    font-size: 13px;
    line-height: 22px;
}

.side-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    &__left {
        position: relative;
        width: 272px;
    }
    &__right {
        position: relative;
        width: calc(100% - 272px);
        padding-left: 26px;
    }
    &__links {
        position: relative;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        border: solid 1px #000;
        li {
            &:not(.side-container__link--active) {
                a {
                    &:hover {
                        color: $blue;
                    }
                }
            }
            a {
                padding: 20px 15px;
                display: inline-block;
                width: 100%;
                font-size: 16px;
                font-weight: bold;
                border-bottom: solid 1px #000;
            }
            &:last-child {
                a {
                    border: 0;
                }
            }
        }
    }
    &__link--active {
        a {
            background: $blue;
            border-color: $blue!important;
            color: #fff;
        }
    }
    &__link-more {
        padding: 15px 12px;
        font-size: 12px;
        font-weight: bold;
        color: #717171;
        display: none;
        &:hover {
            color: #000;
        }
    }
}

.tabs {
    position: relative;
    width: 100%;
    li {
        position: relative;
        width: 100%;
        a {
            display: flex;
            height: 59px;
            border-radius: 4px;
            width: 100%;
            font-weight: bold;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            background: #F4F4F4;
        }
        &:not(.tabs__tab--active):hover {
            a {
                color: $blue;
            }
        }
    }
    &__tab--active {
        a {
            background: $blue!important;
            color: #fff;
        }
    }
}

@media only screen and (max-width: 895px) {
    .side-container {
        &__left {
            width: 100%;
            margin-bottom: 30px;
        }
        &__right {
            width: 100%;
            padding-left: 0;
        }
    }
}