.typical {
    position: relative;
    img {
        max-width: 100%;
        position: relative;
    }
    p {
        font-size: 14px;
        line-height: 20px;
        a {
            color: $blue;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    ul {
        li {
            padding-left: 22px;
            font-size: 14px;
            line-height: 26px;
            margin-bottom: 5px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 10px;
                width: 6px;
                height: 6px;
                border-radius: 50px;
                background: $blue;
            }
        }
    }
    ol {
        position: relative;
        counter-reset: myCounter;
        li {
            padding-left: 22px;
            font-size: 14px;
            line-height: 26px;
            margin-bottom: 5px;
            position: relative;
            &:before {
                counter-increment: myCounter;
                content: counter(myCounter) ". ";
                position: absolute;
                left: 0;
                top: -1px;
                font-size: 20px;
                color: $blue;
            }
        }
    }
    blockquote {
        padding: 30px 30px 30px 100px;
        border-radius: 7px;
        background: #F4F4F4;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 30px;
            background: url(../images/blockquote.svg) no-repeat center center/cover;
        }
    }
    &__block {
        position: relative;
    }
    .table {
        position: relative;
        table {
            width: 100%;
        }
        thead tr td {
            background: $blue;
            padding: 17px 15px;
            color: #fff;
            font-weight: bold;
            &:first-child {
                width: 8%;
                border-radius: 7px 0px 0px 0px;
            }
            &:last-child {
                border-radius: 0px 7px 0px 0px;
            }
        }
        tbody tr {
            td {
                padding: 17px 15px;
            }
            &:nth-child(odd) {
                td {
                    background: #F8F8F8;
                }
            }
        }
    }
    .invest {
        position: relative;
        width: 100%;
        a {
            padding: 15px 0px;
            position: relative;
            &:hover {
                color: $blue;
            }
            .icon {
                width: 32px;
                color: $blue;
                height: 38px;
                margin-right: 13px;
            }
            span {
                pointer-events: none;
                font-size: 14px;
                line-height: 22px;
                width: calc(100% - 50px);
            }
        }
    }
    &__img {
        position: relative;
        user-select: none;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: calc(100% -  4px);
            background: linear-gradient(1deg, rgba(#000, 0.5), transparent);
            z-index: 1;
        }
        &:after {
            content: '';
            left: 30px;
            bottom: 30px;
            position: absolute;
            width: 286px;
            height: 30px;
            background: url(../images/logotype--white.svg) no-repeat center center/contain;
            z-index: 2;
        }
    }
}

@media only screen and (max-width: 445px) {
    .typical blockquote {
        padding: 30px;
    }
    .typical blockquote:before {
        top: 1%;
    }
    .typical .table {
        overflow-x: auto;
    }
    .typical table {
        min-width: 800px;
    }
    
}